.App {
  margin: 20px;
}

.App-formula {
  height: 50px;
}

.App-formula-input {
  margin-right: 10px;
  height: 40px;
  font-size: 20px;
}

.App-error {
  margin: 0px;
  font-size: 16px;
  color: red;
}

.App-formula-button {
  height: 40px;
  font-size: 20px;
}

.App-history {
  font-size: 20px;
}

.App-history :not(:first-child) {
  margin-top: 10px;
}

.App-history-delete {
  font-size: 20px;
  margin-right: 20px;
  height: 40px;
}

.App-history-button {
  height: 40px;
  font-size: 20px;
}

.App-tips-var {
  font-weight: bold;
  /* font-style: oblique; */
}
